extends layout

block content
  section(class="bg-blue-500 text-white py-24 text-center flex flex-col md:flex-row items-center transition-all duration-300")
    div(class="md:ml-4")
      img(src="/images/logo.png", alt="Infuse NFTs Logo", class="mx-auto w-48 md:w-64 transition-all duration-300")
    div(class="md:flex-grow transition-all duration-300")
      h1(class="text-4xl font-bold mt-8") Infuse NFTs with transferable utilities
      h2(class="text-xl mt-4") Simple as GM &#x1F60E;