extends layout

block content
  img.image(src='/images/logo.png', alt='NFZ.gg logo', width='200')
  br
  br
  br

  <button id="enableEthereumButton">Connect Ethereum Wallet</button>
  p
    | Metamask Account: <span id="showAccount"></span></h2>
  br
  br
  br

  h1 Infuse NFT collections with transferrable utilities!
  form(action='#', method='POST')
    p
      | NFT Collection: 
      input#NFTCollection(type='text', name='NFTCollection', value='0xB706416c431f6d5B878aF563A1D822d39118612b')
    p
      | NFZ name: 
      input#NFZName(type='text', name='NFZName')
    input#infuseButton(type='button', value='INFUSE')
  br
  br
  br

  h3 DAO members
    p
      img.image(src='/images/aline.png', width='80')
      | Aline
      ul#aline
        li.NFT: | NFT Balance 
        li.NFZ: | NFZ Balance
    p
      img.image(src='/images/anca.png', width='80')
      | Anca
      ul#anca
        li.NFT: | NFT Balance
        li.NFZ: | NFZ Balance
    p
      img.image(src='/images/marios.png', width='80')
      | Marios
      ul#marios
        li.NFT: | NFT Balance
        li.NFZ: | NFZ Balance
  br

  h3 Visitors
    p
      img.image(src='/images/mike.png', width='80')
      | Mike
      ul#mike
        li.NFT: | NFT Balance
        li.NFZ: | NFZ Balance