extends layout

block content
  img.image(src='/images/logo.png', alt='NFZ.gg logo', width='200')
  br
  br
  br

  <button id="enableEthereumButton">Connect Ethereum Wallet</button>
  p
    | Metamask Account: <span id="showAccount"></span></h2>
  br
  br
  br

  h1 Infuse NFT collections with transferrable utilities!
  form(action='#', method='POST')
    p
      | NFT Collection: 
      input#NFTCollection(type='text', name='NFTCollection', value='0xB706416c431f6d5B878aF563A1D822d39118612b')
    p
      | NFZ name: 
      input#NFZName(type='text', name='NFZName')
    input#infuseButton(type='button', value='INFUSE')
  br
  br
  br
