extends layout

block content
  section(class="bg-blue-500 text-white py-24 text-center transition-all duration-300 h-full")
    div(class="md:flex-grow transition-all duration-300")
      h1(class="text-4xl lg:text-6xl font-bold mt-8") Infuse NFTs with transferable utilities
      div(class="mt-6")
      h2(class="text-3xl lg:text-5xl mt-4") Simple as GM &#x1F60E;
      div(class="mt-14")
      a(href="/infuse")
        button(class="bg-white hover:bg-yellow-200 text-3xl lg:text-4xl text-blue-500 font-bold px-12 py-8 rounded-full mt-8") INFUSE
      div(class="mx-14")
  
    div(class="container mx-auto px-4 lg:max-w-7xl mt-20")

      div(class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8") 
        // Panel 1
        div(class="bg-white rounded-lg shadow-lg p-8 text-center transition-all duration-300 transform hover:scale-105")
          span(class="text-7xl text-blue-500") 💪
          h3(class="text-2xl font-bold text-blue-500 mt-6 mb-2") Powerful
          p(class="text-gray-700") Unlock novel applications around utility delegation, rental & reselling.

        // Panel 2
        div(class="bg-white rounded-lg shadow-lg p-8 text-center transition-all duration-300 transform hover:scale-105")
          span(class="text-7xl text-blue-500") 🔒
          h3(class="text-2xl font-bold text-blue-500 mt-6 mb-2") Secure
          p(class="text-gray-700") No modifications to your NFT collection, collaterals, locks or wraps.

        // Panel 3
        div(class="bg-white rounded-lg shadow-lg p-8 text-center transition-all duration-300 transform hover:scale-105")
          span(class="text-7xl text-blue-500") 💡
          h3(class="text-2xl font-bold text-blue-500 mt-6 mb-2") Easy
          p(class="text-gray-700") User-friendly interface to manage your utilities

        // Panel 4
        div(class="bg-white rounded-lg shadow-lg p-8 text-center transition-all duration-300 transform hover:scale-105")
          span(class="text-7xl text-blue-500") 🚀
          h3(class="text-2xl font-bold text-blue-500 mt-6 mb-2") Familiar
          p(class="text-gray-700") Compatible with your favorite NFT tools and chains

    div(class="container mx-auto px-4 lg:max-w-7xl mt-8")
      div(class="grid grid-cols-1")
        // Panel 5 (Technology Behind NFZ)
        div(class="bg-white rounded-lg shadow-lg p-8 text-center transition-all duration-300 transform hover:scale-105 col-span-4 md:col-span-2")
          span(class="text-7xl text-blue-500") ✨
          h3(class="text-2xl font-bold text-blue-500 mt-6 mb-2") The Magic behind NFZ
          p(class="text-gray-700")
            a(class="underline" href="https://github.com/nfzgg" target="_blank") Source Code
            br
            a(class="underline" href="https://devfolio.co/project/nfz-6537" target="_blank") Devfolio