extends layout

block content
  section(class="bg-blue-500 text-white py-24 text-center transition-all duration-300")
    div(class="md:flex-grow transition-all duration-300")
      h1(class="text-4xl lg:text-6xl font-bold mt-8") Infuse NFTs with transferable utilities
      div(class="mt-6")
      h2(class="text-3xl lg3te lg:text-5xl mt-4") Simple as GM &#x1F60E;
      div(class="mt-10")
      button(class="bg-white hover:bg-yellow-200 text-3xl lg:text-4xl text-blue-500 font-bold px-12 py-8 rounded-full mt-8") INFUSE
