extends layout

block content
  img.image(src='/images/logo.png', alt='NFZ.gg logo', width='200')
  br
  br
  br

  <button id="enableEthereumButton">Connect Ethereum Wallet</button>
  p
    | Metamask Account: <span id="showAccount"></span></h2>
  br
  br
  br

  h1 Infuse NFT collections with transferrable utilities!
  form(action='#', method='POST')
    p
      | NFT Collection: 
      input#NFTCollection(type='text', name='NFTCollection', value='0xB706416c431f6d5B878aF563A1D822d39118612b')
    p
      | NFZ name: 
      input#NFZName(type='text', name='NFZName')
    input#infuseButton(type='button', value='INFUSE')
  br
  br
  br

  h3 Transfer NFZ
  form(action='#', method='POST')
    p
      | From: 
      input#NFTCollection(type='text', name='From')
    p
      | To: 
      input#NFZName(type='text')
    input#transferNFZButton(type='button', value='Transfer')
  br
  br
  br


  h3 DAO members
    p
      img.image(src='/images/aline.png', width='80')
      | Aline 0x3BB3D8e0748603C040c88357e053B73f106aAEA3
      ul#aline
        li.NFT: | NFT Balance 
        li.NFZ: | NFZ Balance
    p
      img.image(src='/images/anca.png', width='80')
      | Anca 0xbDe66C7b596fAf0d4f9501EEfc3f1348312A2995
      ul#anca
        li.NFT: | NFT Balance
        li.NFZ: | NFZ Balance
    p
      img.image(src='/images/marios.png', width='80')
      | Marios 0x48093A68Acfc7627f369048EF58eb23209C792E4
      ul#marios
        li.NFT: | NFT Balance
        li.NFZ: | NFZ Balance
  br

  h3 Visitors
    p
      img.image(src='/images/mike.png', width='80')
      | Mike 0x1a0E80fbdb3B3f2Fc82F848c660Fb5555f703Ab0
      ul#mike
        li.NFT: | NFT Balance
        li.NFZ: | NFZ Balance

  h3
    input#updateBalancesButton(type='button', value='Update balances')