doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/web3.min.js')
    script(src='/assets/abiNFZ.js')
    script(src='/assets/abiNFZFactory.js')
    script(src='/javascripts/nfz.js')
  body
    block content
